body
{
    width: 96vw;
    height: 98vh;
    background-image: url(./sky.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    border-top: 10px solid white;
    border-right: 10px solid green;
    border-left: 10px solid orangered;
    border-bottom: 10px solid lightblue;
    z-index: -5;
    
}
.Car{
    position: absolute;
    top: 36vh;
    left: 40vw;
    z-index: 5;
}
.Front-Wheel{
    animation: Wheels 60ms infinite;
    position: absolute;
    top: 55.5vh;
    left: 43.7vw;
    z-index: 6;
}
.Rear-Wheel{
    animation: Wheels 60ms infinite;
    position: absolute;
    top: 55.5vh;
    left: 67.6vw;
    z-index: 6;
}
/* .City{
    position: absolute;
    top: 144px;
}
.Road{
    position: absolute;
    bottom: 0px;
}
.Flag{
    position: absolute;
    top: -17.8vh;
    left: 68vw;
    z-index: 6;
} */
/* @keyframes Wheels{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
} */
